Manual QA engineer

Зинчук Александр Борисович

Общий стаж мануальным тестировщиком ПО - около 10 лет.
Опыт в написании документации, чек-листов, тест-кейсов, в качественном поиске и внесении в базу багов, контроле их исправления.
Регрессионное тестирование, модульное, интеграционное тестирование, тестирование UI, тестирование юзабилити, тестирование локализации, предрелизное тестирование.
Практическое использование: MS SQL, Postman, Chrome DevTools, Jira, TestLink.
Дополнительные навыки и умения: SQL; REST API; Selenium, Selenoid; базовое владение Java; базовое владение Jenkins, Docker; владение базовыми навыками HTML + CSS; понимание структуры json, xml; письменный английский intermediate.

Образование:
Высшее – Белорусский Государственный Экономический Университет, факультет «Учета и статистики», специальность «Учет, анализ и аудит в промышленности», квалификация «Экономист».

Дополнительное образование:

Курсы Центра обучающих технологий ОДО «BELHARD» по специальности Тестирование ПО.
Курсы Образовательного центра программирования и высоких технологий (IT-Academy) по программе «Программирование на Java».
Курсы Образовательного центра программирования и высоких технологий (IT-Academy) по программе «Автоматизированное тестирование на Java».
Имею сертификат ISTQB Certified Tester.

Опыт работы:

С 2020 по 2022: работал Тестировщиком ПО (Desktop + Mobile (Native apps)) в ООО «Астрон ЛТД» (разработка и внедрение ПО для ритейла, контроля кассовых операций, точек общепита (рестораны, бары); ПО для касс самообслуживания, прайс-чекеров; ПО для создания и автоматической печати штрих-кодов и этикеток, автоматической маркировки товаров, контроля производства и отгрузки, ПО для мобильных терминалов).

С 2016 по 2020: работал Тестировщиком ПО (Web + Mobile + Desktop) в ЧНПУП «StyleSoft» (разработка и внедрение ПО для вендинг-бизнеса, складского учёта и маршрутизации доставок, CRM, ERP, а также приложений для мобильных устройств; разработка web-сервисов; разработка и администрирование баз данных)

С 2012 г. по 2016 г.: работал Тестировщиком ПО (Web-приложение) в ООО «Acantek Solutions» (разработка и внедрение ПО, реализация проектов для крупных европейских компаний - от сайтов-визиток до приложений уровня enterprise, CRM, разработка ПО для компаний в области логистики, информационных технологий, электроники и фармацевтики).

С 2002 г. по 2012 г.: работал по специальности на должностях экономического характера в ОАО «Дрожжевой комбинат», Транспортная инспекция Минтранса, ОАО «Белремстройсвязь».

Контактная информация:

Тел.моб. / Viber: +375-29-330-57-42
Telegram: https://t.me/alexandrzinc
Skype: alexandr-zin
E-mail: zinalbo@gmail.com
